body {
  background-image: url("../images/meeseeks.png");
  background-position-x: 163%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif; }

.inactive {
  display: none; }

.login-in-page {
  margin: 192px auto;
  width: 50%; }
  .login-in-page h1 {
    text-align: center;
    font-size: 3em;
    color: #FF9933; }

.user-login-form {
  width: 75%;
  margin: 0 auto; }

.user-login-form input {
  width: 100%; }

.user-login-button {
  width: 27%;
  margin: 0 auto;
  display: block;
  margin-top: 15px; }

.username-display {
  display: inline-block;
  text-transform: uppercase;
  color: lightgrey;
  margin-right: 10px; }

.question-display {
  display: inline-block; }

.advice-page {
  margin-top: 10%;
  width: 65%;
  margin: 0 auto;
  text-align: center; }
  .advice-page input {
    width: 65%;
    height: 40px;
    border-radius: 5px; }
  .advice-page .question-button {
    height: 40px;
    width: 10%;
    background-color: #FFffff; }
  .advice-page button {
    border-radius: 5px; }

button:last-child {
  margin-left: 9%; }

.question-form {
  margin-top: 25%; }
  .question-form h3 {
    font-size: 2.7em;
    color: #FF9933; }

.question-display-container {
  text-align: left;
  width: 82%;
  margin-left: 10%; }
  .question-display-container button {
    background-color: #ffffff; }

.logout-button {
  height: 40px;
  width: 10%;
  background-color: #FF9933; }
